* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
/* Container */
.container {
    width: 100%;
    padding: 20px;
    border: white 5px solid;
    width: 550px;
    background-color: #ffffff;
    border-radius: 10px;
    line-height: 50px;
}
button{
     width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #5a67d8;
}